.feature-2 {
	position: relative;
	background-color: #f4f4f4;
	padding: 94px 0;
}

.feature-2-wrap {
	max-width: 1140px;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	position: relative;
	z-index: 10;
}

.feature-2-grid {
	position: relative;
	display: -ms-grid;
	display: grid;
	max-width: 501px;
	height: 455px;
	-ms-grid-columns: (99px)[5];
	grid-template-columns: repeat(5, 99px);
	-ms-grid-rows: (1fr)[5];
	grid-template-rows: repeat(5, 1fr);
	grid-gap: 1px;
}

.feature-2-grid .items {
	height: 100px;
	background-color: #fff;
}

.feature-2-grid .items:nth-child(-n+5) {
	height: 55px;
}

.quote-scale {
	position: absolute;
	left: -30px;
	bottom: -80px;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-moz-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #d1d1d1;
}

.quote-scale p {
	height: 100px;
}

.month-scale {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	width: 445px;
	color: #d1d1d1;
	text-transform: uppercase;
	margin: 10px 0 0 -20px; 
}

.feature-2-grid .lines {
	position: absolute;
}

.feature-2-grid .blue {
	top: 53px;
}

.feature-2-grid .blue::before {
	position: absolute;
	content: "";
	right: 5px;
	display: block;
	border-radius: 50%;
	height: 6px;
	width: 6px;
	background-color: rgb(0, 46, 91);
}

.feature-2-grid .blue::after {
	position: absolute;
	content: "";
	left: 0;
	bottom: 10px;
	display: block;
	border-radius: 50%;
	height: 6px;
	width: 6px;
	background-color: rgb(0, 46, 91);
}

.feature-2-grid .yellow {
	top: 180px;
	z-index: 10;
}

.feature-2-grid .yellow::before {
	position: absolute;
	content: "";
	top: 18px;
	right: 0;
	display: block;
	border-radius: 50%;
	height: 6px;
	width: 6px;
	background-color: rgb(253, 228, 40);
}

.feature-2-grid .yellow::after {
	position: absolute;
	content: "";
	left: 0;
	bottom: 10px;
	display: block;
	border-radius: 50%;
	height: 6px;
	width: 6px;
	background-color: rgb(253, 228, 40);
}

.feature-2-block-2 {
	max-width: 570px;
}

.feature-2-block-2 p:nth-child(1) {
	max-width: 500px;
}

.feature-2-block-2 p:nth-child(2) {
	font-size: 21px;
	line-height: 25px;
	color: #666666;
	margin-top: 18px;
	margin-bottom: 18px;
	max-width: 430px;
}

.feature-2-block-2 a {
	margin-top: 27px;
}

@media (max-width: 1150px) {
	.feature-2-wrap {
		max-width: 100%;
		-moz-flex-direction: column-reverse;
		-o-flex-direction: column-reverse;
		flex-direction: column-reverse;
		justify-content: space-between;
		-ms-align-items: center;
		align-items: center;
	}
	.feature-2-block-2 {
		text-align: center;
		margin-bottom: 50px;
	}
	.feature-2-block-2 p {
		max-width: 100% !important;
	}
}

@media (max-width: 600px) {
	.feature-2-grid {
		max-width: 300px;
		height: 255px;
		-ms-grid-columns: (59px)[5];
		grid-template-columns: repeat(5, 59px);
	}
	.feature-2-grid .items {
		height: 50px;
		background-color: #fff;
	}
	.feature-2-grid .items:nth-child(-n+5) {
		height: 25px;
	}
	.quote-scale {
		left: -20px;
		bottom: -5px;
		font-size: 12px;
	}
	.quote-scale p {
		height: 50px;
	}
	.month-scale {
		width: 260px;
		font-size: 12px;
		margin: 0 0 0 -10px; 
	}
	.feature-2-grid .lines img {
		width: 270px;
		height: 208px;
	}
	.feature-2-grid .yellow {
		top: 82px;
	}
	.feature-2-grid .blue {
		top: 25px;
	}
	.feature-2-grid .yellow img {
		height: 150px;
	}
	.feature-2-grid .blue::before {
		top: -2px;
		right: 0;
	}
	.feature-2-grid .blue::after {
		left: 0;
		bottom: 7px;
	}
	.feature-2-grid .yellow::before {
		top: 8px;
		right: 0;
	}
	.feature-2-grid .yellow::after {
		left: 0;
		bottom: 6px;
	}
}