.header {
	position: relative;
	height: 896px;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	background-image: url("../../img/header-bg.jpg");
}

.header::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 46, 91, 0.65);
}

.header-wrap {
	position: relative;
	z-index: 10;
}

.header-top {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	padding-top: 45px;
}


.header-top .logo {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-align: center;
}

.header-top .logo p:nth-child(1) {
	color: #fde428;
	font-size: 45px;
	line-height: 48px;
}

.header-top .logo p:nth-child(2) {
	text-transform: uppercase;
	color: #fff;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 4px;
}

.header-nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-basis: 600px;
	margin-left: auto;
	margin-right: 25px;
}

.header-nav a {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.54px;
}

.header-nav a:hover::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 2px;
	bottom: -5px;
	background-color: #fde428;
}


.header-nav a:active {
	transform: scale(0.98);
}

.header-nav a:active::before {
	background-color: #fff;
}

.header-top .lang {
	position: relative;
	font-size: 0;
}

.header-top .lang label {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	background-image: url("../../img/lang-sprite.png");
	margin-top: 16px;
}

.header-top .lang label::before {
	position: absolute;
	content: "";
	top: 50%;
	transform: translateY(-50%);
	right: -15px;
	border: 5px solid #fff;
	border-bottom-width: 0;
	border-right-color: transparent;
	border-left-color: transparent;
}

.header-top .lang .dd-lang-list {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	transition: all 0.1s ease;
}

#lang-btn:checked ~ .dd-lang-list {
	opacity: 1;
	visibility: visible;
	display: block;
}

.header-top .lang input {
	display: none;
}

.header-top .lang .dd-lang-list a {
	display: block;
	width: 30px;
	height: 30px;
	background-image: url("../../img/lang-sprite.png");
	margin-bottom: 5px;
}

.header-top .lang .dd-lang-list a:nth-child(1) {
	background-position: -30px 0;
}

.header-top .lang .dd-lang-list a:nth-child(2) {
	background-position: -61px 0;
}

.header-top .lang .dd-lang-list a:nth-child(3) {
	background-position: -92px 0;
}

.header-top .lang .dd-lang-list a:nth-child(4) {
	background-position: -122.5px 0;
}

/* Slider */

.header-slider {
	position: relative;
	left: 60%;
	transform: translateX(-50%);
	width: 970px;
	height: 740px;
}

.header-slider-inner {
	overflow: hidden;
}

.header-slider input {
	display: none;
}

.header-slider-slides {
	width: 300%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	transition: all 1s ease;
}

.header-slides {
	position: relative;
	width: 970px;
	height: 740px;
}

.header-slides .slide-wrap {
	position: absolute;
	top: 49.8%;
	transform: translateY(-50%);
	right: 243px;
	text-align: right;
	z-index: 10;
} 

.header-slides .slide-wrap p {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	width: 300px;
	font-weight: 700;
	font-size: 51px;
	line-height: 51px;
	color: #fff;
}

.header-slides .slide-wrap .rect {
	position: absolute;
	content: "";
	top: -78px;
	left: 233px;
	width: 300px;
	height: 378px;
}

.header-slides a {
	display: inline-block;
	font-size: 20px;
	color: #fde428;
	margin-top: 38px;
}

.header-slides a:hover {
	color: #004283;
}

.header-slides a:active {
	transform: scale(0.98);
}

.header-slides a::before {
	bottom: -2px;
	background-color: #fde428;
}

.header-slides a:hover::before {
	bottom: -2px;
	background-color: #004283;
}

.header-slider-controls {
	position: absolute;
	width: 195px;
	top: 50%;
	transform: translateY(-50%);
	left: -220px;
	z-index: 10;
}

.header-slider-controls::before {
	position: absolute;
	content: "/";
	top: 50%;
	left: 57%;
	transform: translate(-50%, -38%);
	color: #fde428;
}

#header-btn-1:checked ~ .header-slider-controls label:nth-child(3),
#header-btn-2:checked ~ .header-slider-controls label:nth-child(1),
#header-btn-3:checked ~ .header-slider-controls label:nth-child(2) {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 21px;
	height: 10px;
	background-image: url("../../img/arrow-left.png");
	z-index: 10;
}

#header-btn-1:checked ~ .header-slider-controls label:nth-child(3):active,
#header-btn-2:checked ~ .header-slider-controls label:nth-child(1):active,
#header-btn-3:checked ~ .header-slider-controls label:nth-child(2):active {
	filter: invert(1);
}

#header-btn-1:checked ~ .header-slider-controls label:nth-child(3)::before,
#header-btn-2:checked ~ .header-slider-controls label:nth-child(1)::before,
#header-btn-3:checked ~ .header-slider-controls label:nth-child(2)::before {
	position: absolute;
	content: "previous";
	color:  #fde428;
	font-size: 12px;
	top: 50%;
	transform: translateY(-50%);
	left: 43px;
	text-transform: uppercase;
	letter-spacing: 0.48px;
}

#header-btn-1:checked ~ .header-slider-controls label:nth-child(2),
#header-btn-2:checked ~ .header-slider-controls label:nth-child(3),
#header-btn-3:checked ~ .header-slider-controls label:nth-child(1) {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	width: 21px;
	height: 10px;
	background-image: url("../../img/arrow.png");
	z-index: 10;
}

#header-btn-1:checked ~ .header-slider-controls label:nth-child(2):active,
#header-btn-2:checked ~ .header-slider-controls label:nth-child(3):active,
#header-btn-3:checked ~ .header-slider-controls label:nth-child(1):active {
	filter: invert(1);
}

#header-btn-1:checked ~ .header-slider-controls label:nth-child(2):before,
#header-btn-2:checked ~ .header-slider-controls label:nth-child(3):before,
#header-btn-3:checked ~ .header-slider-controls label:nth-child(1):before {
	position: absolute;
	content: "next";
	color:  #fde428;
	font-size: 12px;
	top: 50%;
	transform: translateY(-50%);
	right: 43px;
	text-transform: uppercase;
	letter-spacing: 0.48px;
}


#header-btn-1:checked ~ .header-slider-inner .header-slider-slides {
	transform: translateX(0);
}

#header-btn-2:checked ~ .header-slider-inner .header-slider-slides {
	transform: translateX(-970px);
}

#header-btn-3:checked ~ .header-slider-inner .header-slider-slides {
	transform: translateX(-1940px);
}