.intro {
	padding: 98px 0 96px;
}

.intro-wrap {
	position: relative;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.intro-wrap::before {
	position: absolute;
	content: "";
	top: -98px;
	left: 146px;
	width: 270px;
	height: 525px;
	background-color: #fde428;
}

.intro-video {
	position: relative;
	max-width: 499px;
	height: 256px;
	z-index: 10;
}

.intro-video video {
	display: block;
	width: 100%;
}

.intro-video::before {
	position: absolute;
	content: "";
	top: 65%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 106px;
	height: 106px;
	background-image: url("../../img/Video Button.png");
	z-index: 10;
}

.intro-text {
	flex-basis: 570px;
}

.intro-text p:nth-child(1) {
	max-width: 500px;
}

.intro-text p:nth-child(2) {
	font-size: 21px;
	line-height: 25px;
	color: #666666;
	margin-top: 18px;
	margin-bottom: 18px;
	max-width: 430px;
}

.intro-text p:nth-child(3) {
	max-width: 525px;
}

.intro-text a {
	margin-top: 27px;
}

@media (max-width: 1150px) {
	.intro-wrap {
		-moz-flex-direction: column-reverse;
		-o-flex-direction: column-reverse;
		flex-direction: column-reverse;
		justify-content: space-between;
		text-align: center;
	}
	.intro-wrap::before {
		top: -98px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		width: 100%;
		height: 70px;
	}
	.intro-text {
		flex-basis: auto;
		margin: 0 auto;
	}
	.intro-text p {
		margin: 0 auto;
	}
	.intro-video {
		width: auto;
		margin: 20px auto;
	}
	.intro-video::before {
		top: 65%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);	
	}
}

@media (max-width: 540px) {
	.intro-video::before {
		top: 60%;
		width: 50px;
		height: 50px;
		background-size: cover;
	}
}

@media (max-width: 480px) {
		.intro {
	padding: 98px 0 0px;
}
	.intro-video::before {
		top: 50%;
	}
}
