.stats {
	background-color: #002e5b;
	color: #fff;
	padding: 127px 0 122px;
	text-align: center;
}

.stats-wrap {
	max-width: 1100px;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.stats-wrap [class^="block-"] {
	flex-basis: 200px;
}

.stats-wrap [class^="block-"] p:nth-of-type(1) {
	font-size: 48px;
	font-weight: 500;
	line-height: 60px;
	letter-spacing: 12px;
	font-family: 'Montserrat', sans-serif;
}

.stats-wrap [class^="block-"] p:nth-of-type(2) {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 48px;
	letter-spacing: 2.8px;
}

@media (max-width: 870px) {
	.stats {
		padding: 80px 0;
	}

	.stats-wrap [class^="block-"] p:nth-of-type(1) {
		font-size: 38px;
		line-height: 50px;
	}
}

@media (max-width: 720px) {
	.stats {
		padding: 60px 0;
	}

	.stats-wrap [class^="block-"] p:nth-of-type(1) {
		font-size: 28px;
		line-height: 40px;
	}
	.stats-wrap [class^="block-"] p:nth-of-type(2) {

		font-size: 12px;
		line-height: 38px;
	}
}

@media (max-width: 600px) {
	.stats {
		padding: 45px 0 40px;

	}
	.stats-wrap {
		max-width: 100%;
	}
	.stats-wrap [class^="block-"] {
		flex-basis: auto;
	}
	.stats-wrap [class^="block-"] p:nth-of-type(1) {
		font-size: 18px;
		line-height: 30px;

	}
	.stats-wrap [class^="block-"] p:nth-of-type(2) {
		font-size: 10px;
		line-height: 28px;
	}
}

@media (max-width: 600px) {
	.stats {
		padding: 45px 0 20px;

	}
	.stats-wrap {
		max-width: 100%;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.stats-wrap [class^="block-"] {
		flex-basis: 48%;
		margin-bottom: 20px;
	}
	.stats-wrap [class^="block-"] p:nth-of-type(1) {
		font-size: 18px;
		line-height: 30px;

	}
	.stats-wrap [class^="block-"] p:nth-of-type(2) {
		font-size: 10px;
		line-height: 28px;
	}
}